<view class="box">
  <image class="bg" src="../imgs/bg3.png" mode="aspectFill"></image>
  <return></return>
  <!-- <image class="img_return" bindtap="back" src="../imgs/return.png"></image> -->
  <image class="mini_logo" src="../imgs/mini_logo.png"></image>
  <text class="txt_rule">游戏规则</text>
  <view class="ruleBox">
    <text>
      1、每局开始后,每位玩家会分配到一个号码和的色,由系统指定的玩家开始发言;
    </text>
    <text>
      2、每一轮描述后,由全体玩家投票怀疑的卧底人选。并由房主双击该玩家头像验证身份；
    </text>
    <text>
      3、平民决胜条件:平民须投出所有卧底才能获胜;
    </text>
    <text>
      4、卧底获胜条件卧底撑到最后一轮只剩2人时。则卧底获胜;
    </text>
    <text>
      5、白板是一种特殊的平民。没有词语,只能根据其他玩家的描述猜测词语。
    </text>
    
    
  </view>
</view>