/* pages/homePage/homePage.wxss */
page{
  height: 100%;
}
.box .bg{
  height: 100%;
  width: 100%;
  position: fixed;
  background-size: 100% 100%;
  z-index: -1;
}
.box .title{
  height: 15%;
  width: 60%;
  position: fixed;
  /* top: 450rpx;
  left:  160rpx; */
  top: 35%;
  left: 20%;

}
.link{
  position: fixed;
  /* top: 750rpx;
  left:  300rpx; */
  top: 55%;
  left:  40%;
  color: aqua;
  font-size: 40rpx;
}

.btn1{
  position: fixed;
  height: 120rpx;
  width: 300rpx;
  top: 67%;
  left: 30%;
}

.btn2{
  position: fixed;
  height: 120rpx;
  width: 300rpx;
  /* top: 1080rpx;
  left: 220rpx; */
  top: 80%;
  left: 30%;
}
.panel{
  position: fixed;
  /* top: 10%; */
  /* left: 0; */
}
.panel-1{
  position: fixed;
  width: 720rpx;
  height: 600rpx;
  top: 10%;
  left: 2%;
}
.btn_submit{
  position: fixed;
  height: 100rpx;
  width: 250rpx;
  left: 110rpx;
  top: 630rpx;
  z-index: 3;
}
.btn_cancel{
  position: fixed;
  height: 100rpx;
  width: 250rpx;
  left: 400rpx;
  top: 630rpx;
  z-index: 3;
}
.input_box{
  position: fixed;
  background-color: white;
  height: 80rpx;
  width: 420rpx;
  top: 520rpx;
  left: 170rpx;
  border: 1px solid sienna;
  border-radius: 10em;
  z-index: 3;
  text-align: center;
}