<view>
<view>
<image class="backgroundImg" src="../imgs/bg2.png"></image>
<image class="logo" src="../imgs/mini_logo.png"></image>
</view>
<view class="middle">
  <image class="roomIdbg" src="../imgs/roomIdBg.png"></image>

</view>
<text class="RoomNum">房间号：{{RoomNum}}</text>
<view class="PeopleNumBox">
  <text class="PeopleNum">平民：{{pingming}}</text>
  <text class="PeopleNum">　卧底：{{wodi}}</text>
  <text class="PeopleNum">　白板：{{baiban}}</text>
</view>

<view class="allPeople">
    <view class="players" wx:for="{{userInfo}}" >
      <image class="peopleImg" src="{{item.imgUrl}}" mode="aspectFill"></image>
      <text class="peopleName">{{item.userName}}</text>
      <text class="host" type="text" wx:if="{{index == 0}}"disabled="true" style="background: url(../imgs/host.png)no-repeat center;background-size:63rpx 23rpx;">房主</text> 
    </view>
  </view>
  <!-- 还没开始呢-->
  <view wx:if="{{situation==0}}">
  <image class="openGame" src="../imgs/SGame.png" bindtap="openGame"></image>
  <image class="overGame" src="../imgs/IFriend.png"></image>
  </view>

<!-- 游戏中-->
  <view class="gameing" wx:if="{{situation==1}}">
    <view class="gameingText">
      <text> 每一轮线下投票后\n</text>
      <text>请房主双击玩家头像验证结果</text>
    </view>
  </view>
  <view>
    <view  wx:if="{{situation==1}}" class="wordBg" style="background: url(../imgs/wordBg.png) ; background-size:320rpx 180rpx; background-repeat:no-repeat"><text>桃子</text></view>
  </view>


<!-- 游戏结束-->
  <view class="gameOver" wx:if="{{situation==2}}" style="background: url(../imgs/popup.png) ; background-size:600rpx 640rpx; background-repeat:no-repeat">
  <view class="cancleLogo" bindtap="close">
    <image  src="../imgs/cancelLogo.png"></image>
  </view>
  <text class="overText">游戏结束</text>
  <view class="whoWinner">
  <image wx:if="{{whoWinner==0}}" src="../imgs/v_pingmin.png"></image>
  <image wx:if="{{whoWinner==1}}" src="../imgs/v_wodi.png"></image>
  </view>
  <view class="result"> 平民词：<text>{{pingmingWord}}</text>/卧底词：<text>{{wodiWord}}</text></view>
 
  <image class="again" src="../imgs/again.png" bindtap="close"></image>
  </view>

</view>