<!--pages/JRoom/JRoom.wxml-->
<view>
<image class="backgroundImg" src="../imgs/bg.png"></image>
<image class="popup" src="../imgs/popup.png"></image>
<image class="logo" src="../imgs/logo.png"></image>
<view><text class="RNum">请输入房间号</text></view>
<image class="Triangle" src="../imgs/sanjiao.png"></image>
<view class="Rtext"><input type="text" value="请输入房间号"/></view>
<image class="submit" src="../imgs/submit.png"></image>
<image class="cancle" src="../imgs/cancel.png " bindtap="jump"> </image>
</view>
