<!--pages/Choice/Choice.wxml-->
<!--头部-->
<view> 
  <image class="background" src="../imgs/bg3.png"></image>
  <image class="logo" src="../imgs/mini_logo.png"></image>
  <image class="return" src="../imgs/return.png"></image>
  <view class="number">玩家人数：{{slider}}</view>
  <view><slider bindtap="changeSlider" bindchanging="changeSlider" bindchange="changeSlider" min="4"  max="12"  step="1" value="{{slider}}"/></view>
</view>
<!--中间-->
<view>
  <view class="people">
    <image src="../imgs/pingmin.png"></image>
    <image src="../imgs/wodi.png"></image>
    <image src="../imgs/baiban.png"></image>
  </view>
  <view class="buttom">
    <image src="../imgs/lower.png"></image>
    <image src="../imgs/add.png"></image>
    <image src="../imgs/lower.png"></image>
    <image src="../imgs/add.png"></image>
  </view>
</view>
<!--尾部-->
<view>
  <view class="choose">选择词库</view>
  <view wx:for="{{strArray}}" class="wordBg" bindtap="changeImage">
    <view class="text" style="background: url(../imgs/wordBg.png); background-size:200rpx 150rpx">{{item.typeName}}</view>
  </view>
  <image class="tick" src="../imgs/selected.png"></image>
  <image class="complete" src="../imgs/complete.png"></image>
</view>

