<view> 
  <image class="backgroundImg" src="../imgs/bg2.png"></image>
  <image class="logo" src="../imgs/logo.png"></image>
  <view class="peopleNum">玩家人数：{{slider}}</view>
  <!-- 滑块-->
  <view>
    <slider bindtap="changeSlider" bindchanging="changeSlider" bindchange="changeSlider" min="4"  max="12"  step="1" value="{{slider}}"/>
  </view>
  <view class="juese">
    <image  src="../imgs/pingmin.png"></image>
    <image  src="../imgs/wodi.png"></image>
    <image  src="../imgs/baiban.png"></image>
</view>

<view class="add_lower">
  <view class="pinming">
  <image src="../imgs/lower.png" bindtap="lower"></image>
  <text >{{pinming}}</text>
  <image src="../imgs/add.png" bindtap="add"></image>
  </view>
  <view class="wodi">
  <image src="../imgs/lower.png"></image>
  <text>{{wodi}}</text>
  <image src="../imgs/add.png"></image>
  </view>

  <view class="sch">
    <switch style="zoom:0.8" bindchange="xuanzhong"  >X 1</switch>
  </view>
  
</view>

<view>
  <view class="choose">选择词库</view>
  <view  wx:for="{{wrodTypeArray}}" class="wordType"  catchtap="dictType" style="background: url(../imgs/wordBg.png) ; background-size:200rpx 150rpx;margin-top:20rpx "  wx:for-item="item"  data-id="{{item.typeId}}" >
             <view> 
              <text class="{{item.typeId==dictType? 'fontRed':''}}">{{item.typeName}}</text>
              <view class="select" wx:if="{{item.typeId==dictType}}"> <image src="../imgs/selected.png"> </image> </view>
            </view>
  </view>
  <view >
    <image class="success" src="../imgs/complete.png"></image>
  </view>
</view>
</view>