/* pages/Test/Test.wxss */
.images {
  width: 100%;
  height: 100%;
  position: fixed; 
  background-size:100% 100%;
  z-index: -1;
}
.images1 {
  width: 350rpx;
  height: 200rpx;
  position: relative; 
  margin-top: 450rpx;
  margin-left: 200rpx;
  z-index: -1;
  clear: both;
}
.txt{
  font-size: 18px;
  color: aqua;
  margin-top: 100rpx;
  margin-left: 150rpx;
}
.images2{
  width: 296rpx;
  height: 112rpx;
  margin-top: 110rpx;
  margin-left: 240rpx;
  border: none;
  padding: 0;
}
.images3{
  width: 296rpx;
  height: 112rpx;
  margin-top: 90rpx;
  margin-left: 240rpx;
  border: none;
  padding: 0;
}


